.section-header {
  text-align: center;
}
.section-header .section-title {
  margin-bottom: 1.5rem;
}
.section-header .section-divider {
  margin: 0 auto 1.5rem;
}
.section-header .section-body {
  max-width: 40rem;
  margin: 0 auto;
}

